<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/register.css">
    <title>Registrate</title>
</head>
<body>
    
    <header>
        <h1>Direct Chat</h1>
    </header>

     <main class="register_box">
        <h1 class="h1_discord">¡Hola de nuevo!</h2>
        <p  class="h3_discord">!Nos alegramos mucho de volver a verte!</p>
        <form method="post">
            <section class="input_box">
                <label for="usernameInput" class="label_discord">nombre de usuario <span>*</span></label>
                <input type="text" id="usernameInput" name="username" class="input_discord">
                <button type="button" class="btn_discord">Entrar</button>
            </section>

        </form>
    </main>


    <script src="js/register.js"></script>

</body>
</html>