
.card {
    width: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .chat-header {
    background-color: #313338;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .chat-window {
    height: 300px;
    width: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .message-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 100%;
    
  }
  
  .message{
    display: flex;
    flex-direction: row; /* Organiza los elementos en fila */
    justify-content: flex-start; /* Opcional: Centra los elementos horizontalmente */
    align-items: center;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    overflow-y: auto; 
}

.image-container{
  padding: 10px;
  border-radius: 5px;
}

  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .message-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
  }
  
  .send-button {
    border: none;
    outline: none;
    background-color: #5865F2;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }

  