@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ddddde;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}


.register_box {
    background: #313338;
    max-width: 700px;
    width: 600px;
    min-width: 380px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-bottom: 40px;
}

.h1_discord {
    color: #ffff;
    font-size: 45px;
    text-align: center;
    margin-bottom: 5px;
}

.h3_discord {
    margin: 5px;
    color: #80848E;
    font-size: 18px;
    text-align: center;
}
.input_box{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: transparent;
    width: 350px;
    gap: 10px;
}
.label_discord{
    text-transform: uppercase;
    font-weight: 600;
    color: #80848E;
}
.label_discord span{
    color: red;
}
.input_discord{
    border: none;
    outline: none;
    height: 30px;
    border-radius: 2px;
    background: #1E1F22;
    color: #80848E;
    font-size: 16px;
    padding: 10px;
}
.btn_discord{
    margin-top: 10px;
    color: #ffff;
    font-size: 16px;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 5px;
    background: #5865F2;
    cursor: pointer;
}
